<%= simple_form_for(@group.becomes(Group)) do |f| %>
  <%= f.error_notification %>

  <div class="panel panel-primary">
    <div class="panel-heading">委員種別</div>
    <div class="panel-body">
      <div class="form-group">
        <%= f.select :type, Group.types.invert, { prompt: '選択してください' }, class: 'form-control btn input-lg' %>
      </div>
    </div>
  </div>

  <div class="panel panel-primary">
    <div class="panel-heading">委員名称</div>
    <div class="panel-body">
      <div class="form-group">
        <%= f.input :name, label: false, error: '必須項目です。', required: true, autofocus: true, input_html: { class: "form-control input-lg" } %>
      </div>
    </div>
  </div>

  <div class="btn-group inline-block col-xs-12 col-sm-12 col-md-12">
    <div class="form-group col-xs-6 col-sm-6 col-md-6">
      <%= link_to '一覧へ戻る', groups_path, class: 'btn btn-warning btn-block' %>
    </div>
    <div class="form-group col-xs-6 col-sm-6 col-md-6">
        <%= f.button :submit, class: 'btn btn-success btn-block' %>
    </div>
  </div>

<% end %>
