<%= simple_form_for(group.becomes(Group)) do |f| %>
  <%= f.error_notification %>

  <div class="panel panel-default">
    <div class="panel-body">
      <div class="panel panel-primary">
        <div class="panel-body">
          <% # 複数のグループを表示した際、「collection_check_boxes」で生成されたinputのIDが重複するので「data-toggle」でlabelとの連動を回避している。 %>
          <div class="btn-group" data-toggle="buttons-radio">
            <%= f.collection_radio_buttons :type, Group.types, :first, :last do |b| %>
              <%= b.label(class:'btn btn-default radio_label') { b.radio_button(class: 'hidden') + b.text } %>
            <% end %>
          </div>
          <div class="form-group">
            <%= f.input :name, label: false, error: '必須項目です。', required: true, autofocus: true, input_html: { class: "form-control input-lg" } %>
          </div>
        </div>
      </div>

      <div class="panel panel-primary">
        <div class="panel-heading">所属メンバー</div>
        <div class="panel-body">
          <% # 複数のグループを表示した際、「collection_check_boxes」で生成されたinputのIDが重複するので「data-toggle」でlabelとの連動を回避している。 %>
          <div class="btn-group" data-toggle="buttons-checkbox">
            <%= f.collection_check_boxes(:user_ids, User.all, :id, :username) do |b| %>
              <%= b.label(class:'btn btn-default checkbox_label') { b.check_box(class: 'hidden') + b.text } %>
            <% end %>
          </div>
        </div>
      </div>

      <div class="btn-group inline-block col-xs-12 col-sm-12 col-md-12">
        <div class="form-group col-xs-6 col-sm-6 col-md-6">
          <%= f.button :submit, class: 'btn btn-success btn-block' %>
        </div>
        <div class="form-group col-xs-6">
          <%= link_to '削除', group.becomes(Group), method: :delete, data: { confirm: '削除してよろしいですか?' }, class: "btn btn-danger btn-block" %>
        </div>
      </div>

    </div>
  </div>

<% end %>
