<p id="notice"><%= notice %></p>

<h1>Groups</h1>

<table>
  <thead>
    <tr>
      <th>Type</th>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @groups.each do |group| %>
      <tr>
        <td><%= Group.types[group.type] %></td>
        <td><%= group.name %></td>
        <td><%= link_to 'Show', group.becomes(Group) %></td>
        <td><%= link_to 'Edit', edit_group_path(group.becomes(Group)) %></td>
        <td><%= link_to 'Destroy', group.becomes(Group), method: :delete, data: { confirm: '削除してよろしいですか?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '委員を作成', new_group_path %>
