<style type="text/css">
  table th {
    white-space: nowrap;
    font-size: 24px;
  }
  table td a {
    white-space: nowrap;
    font-size: 32px;
  }
</style>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3><%= Group::types[@group.type].to_s + " > " + @group.name %></h3>
  </div>
  <div class="panel-body">
    <div class="check_box" >
      <%= form_for(@group.becomes(Group), url: { action: :commit_user_to_affiliation }) do |f| %>
        <%= f.collection_check_boxes(:user_ids, User.all, :id, :username) do |b| %>
          <%= b.label { b.check_box + b.text } %>
        <% end %>

        <div class="form-group">
          <%= f.button '保　存', class: "btn btn-primary btn-lg btn-block" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="list-group text-center">
  <a href="#" class="list-group-item toThePageTop">
    <span>▲</span>
  </a>
</div>
