<%= simple_form_for(event) do |f| %>
  <%= f.error_notification %>

  <div class="form-group">
    <div class="form-group">
      <%= f.input :title, label: "タイトル", error: "必須項目です。",required: false, autofocus: true, input_html: { style: 'border-radius:5px;', class: "form-control input-lg" } %>
    </div>
    <label for="datetime">日付</label>
    <div class="form-group form-inline">
      <%= f.input :datetime, label: false, input_html: { class: "form-control input-lg" } %>
    </div>
    <div class="form-group">
      <%= f.input :contents, as: :text, label: "内容", input_html: { class: "form-control input-lg", rows: 20 } %>
    </div>
  </div>

  <div class="panel panel-primary">
    <div class="panel-heading">送付先</div>
    <div class="panel-body">
      <div class="btn-group" data-toggle="buttons-radio">
        <%= f.collection_check_boxes(:group_ids, Group.all, :id, :name) do |b| %>
          <%= b.label(class:'btn btn-default checkbox_label') { b.check_box(class: 'hidden') + b.text } %>
        <% end %>
      </div>
    </div>
  </div>


  <div class="form-group">
    <%= f.button :submit, "保　存", class: "btn btn-success btn-lg btn-block" %>
  </div>
<% end %>
