<style type="text/css">
  table th {
    white-space: nowrap;
    font-size: 24px;
  }
  table td a {
    white-space: nowrap;
    font-size: 32px;
  }
</style>

<div class="form-group">
  <%= link_to 'イベントを新規作成', new_event_path, class: "btn btn-success btn-lg btn-block" %>
</div>

<% @events.each do |event| %>
  <div class="panel panel-primary">
    <div class="panel-body">
      <div class="panel panel-primary">
        <div class="panel-heading">タイトル</div>
        <div class="panel-body">
          <%= link_to event.title, edit_confirmation_event_path(event) %>
        </div>
      </div>
      <div class="panel panel-primary">
        <div class="panel-heading">
          <b>日時</b>
        </div>
        <div class="panel-body">
          <%= event.datetime.strftime('%Y年%m月%d日 %H:%M') %>
        </div>
      </div>
      <div class="panel panel-primary">
        <div class="panel-heading">
          <b>内容</b>
        </div>
        <div class="panel-body">
          <%= simple_format(event.contents) %>
        </div>
      </div>
      <div class="panel panel-primary">
        <div class="panel-heading">メール送付先</div>
        <div class="panel-body">
          <div class="btn-group" data-toggle="buttons-radio">
            <% event.groups.each do |group| %>
              <span class="btn">
                <%= group.name.to_s %>
              </span>
            <% end %>
          </div>
        </div>
      </div>
      <% if event_edit?(event) %>
        <div class="form-group col-xs-6">
          <%= link_to '編集', edit_event_path(event), class: "btn btn-warning btn-block" %>
        </div>
        <div class="form-group col-xs-6">
          <%= link_to '削除', event, method: :delete, data: { confirm: '削除してよろしいですか?' }, class: "btn btn-danger btn-block" %>
        </div>
        <div class="form-group col-xs-12">
          <%= link_to 'メール送信', send_eventmail_event_path(event), method: :put, data: { confirm: 'イベントメールを送信します。' }, class: "btn btn-success btn-block" %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>

<div class="list-group text-center">
  <a href="#" class="list-group-item toThePageTop">
    <span>▲</span>
  </a>
</div>
