<!DOCTYPE html>
<html>
  <head>
    <title>Lions</title>
    <%= csrf_meta_tags %>
    
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div class="navbar navbar-default navbar-static-top">
      <div class="container">
        <button class="navbar-toggle" data-target=".navbar-responsive-collapse" data-toggle="collapse" type="button">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to "トップ", root_path, class: "navbar-brand" %>
        <div class="navbar-collapse collapse navbar-responsive-collapse">
          <ul class="nav navbar-nav">
            <li><%= link_to "イベント一覧", events_path if user_signed_in? %></li>
          </ul>
          <ul class="nav navbar-nav navbar-right root_links">
            <% if admin_user? %>
            <li><a href="<%= rails_admin_path %>"><span class="label label-danger">管理</span></a></li>
            <% end %>
            <% if user_signed_in? %>
            <li>
              <%=link_to content_tag('span', 'ログアウト', class: 'label label-danger'), destroy_user_session_path, method: :delete %>
            <% else %>
            <li>
              <%=link_to content_tag('span', 'ログイン', class: 'label label-danger'), new_user_session_path %>
            </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
