<!DOCTYPE html>
<html>
  <head>
    <title>Lions</title>
    <%= csrf_meta_tags %>
    
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div class="navbar navbar-default navbar-static-top navbar-fixed-top">
      <div class="container">
        <button class="navbar-toggle" data-target=".navbar-responsive-collapse" data-toggle="collapse" type="button">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%=link_to image_tag("common/logo.jpg", height: '70', width: '70'), root_path, class: "navbar-brand" %>
        <div class="navbar-collapse collapse navbar-responsive-collapse">
          <ul class="nav navbar-nav">
            <li>
              <%=link_to content_tag('span', 'イベント一覧', class: "btn btn-info"), events_path if user_signed_in? %>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right root_links">
            <% if admin_user? %>
            <li>
              <%=link_to content_tag('span', '管理', class: "btn btn-success"), rails_admin_path %>
            </li>
            <% end %>
            <% if user_signed_in? %>
            <li>
              <%=link_to content_tag('span', 'ログアウト', class: "btn btn-primary"), destroy_user_session_path, method: :delete %>
            <% else %>
            <li>
              <%=link_to content_tag('span', 'ログイン', class: "btn btn-primary"), new_user_session_path %>
            </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
    <div class="main">
      <div class="container">
        <%= yield %>
      </div>
    </div>
    <footer class="footer">
      <div class="container">
        <p class="text-muted">Liberty, Intelligence, Our Nations, Safety.</p>
      </div>
    </footer>
  </body>
</html>
